@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  background-color: #d3d3d3;
}

h1.aula02 {
  color: blue;
}

h1.aula04 {
  color: red;
}

#aulaCinco {
  color: blueviolet;
}

h1.aula05, h2.aula05 {
  color: deeppink;
}

h1.aula06 {
  border: 2px solid chocolate; /* CRIAÇÃO DE UMA BORDA */
  padding: 10px; /* MARGEM INTERNA */
}

h1.aula07 {
  font-family: 'Dancing Script', cursive;
}

h1.aula08 {
  color: #fa6800;
}

p.aula08 {
  color: #fa6800;
  font-size: 20px;
}
